<ion-view view-title="KayleSpeak - The Shows">
  <ion-content class="padding">
  <p><strong><a href="{{CONSTANT.BASE_PLAYLIST_URL + CONSTANT.NEWBIE}}">Newbie shows</a></strong> are made especially for those who don’t know anything about the Filipino language. The dialogs are short and sweet, while the lessons are explained in full English. The shows cover the most basic topics like food, clothing and taking a taxi. Among the shows, the most popular ones are the “Let’s Play – Duwende Ka!” episode or the “I Love You – Pakita Mo” episode.</p>

  <p><p><strong><a href="{{CONSTANT.BASE_PLAYLIST_URL + CONSTANT.ELEMENTARY}}">Elementary shows</a></strong> are published for those with a little background with Filipino. The dialogs here are longer than those in the Newbie shows, but are still explained in English (except for the stray Taglish word that can sometimes be heard in the culture section). The shows include different sagas like the three-part Pepe Wants a Dog Series and the ongoing Jun-Bing-Mak Love Triangle. Popular podcasts include the acclaimed “You Stink, Kilikili!” and the tongue-twisting madness of “Bababa Ba?”</p>

  <p><p><strong><a href="{{CONSTANT.BASE_PLAYLIST_URL + CONSTANT.PIKA_PIKA}}">Pika-Pika shows</a></strong> are super-short learning goodies for those on the go. The crew teaches simple yet useful phrases in 5-minute shows where listeners learn high-frequency phrases and the different contexts where they can be used.</p>

  <p><p><strong><a href="#/app/newbie">Tara Lets!</a></strong> is Kalyespeak’s Philippine Travel Show. These are talk shows which talk about the different travel sites in the Philippines. The language used in the shows is a mixture of English and Filipino, so it’s a great venue for learners to practice their listening skills.</p>

    <p><p><strong><a href="#/app/newbie">Try Mo, Try Ko!</a></strong> is for the more advanced listeners who want to test out their comprehension and listening skills! The lessons consist of monologues/dialogs (which aren’t translated!), and the hosts give us questions for the listeners to answer!<p>
  </ion-content>
</ion-view>
