<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="{{CONSTANT.BASE_PLAYLIST_URL + CONSTANT.NEWBIE}}">
          Newbie
        </ion-item>
        <ion-item menu-close href="{{CONSTANT.BASE_PLAYLIST_URL + CONSTANT.ELEMENTARY}}">
          Elementary
        </ion-item>
        <ion-item menu-close href="{{CONSTANT.BASE_PLAYLIST_URL + CONSTANT.PIKA_PIKA}}">
          Pika-Pika
        </ion-item>
        <ion-item menu-close href="#">
          Tara-Let's!
        </ion-item>
        <ion-item menu-close href="#">
          Try Mo, Try Ko!
        </ion-item>
        <ion-item menu-close href="#/app/home">
          About KayleSpeak
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
