<ion-view view-title="{{category}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="{{CONSTANT.BASE_PLAYLIST_URL}}{{category}}/{{playlist.id}}">
        {{playlist.id + 1}}. {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
