<ion-view view-title="{{post.title}}">
	<ion-content class="padding-horizontal padding-bottom">
		<div class="card">
			<div class="item item-divider item-text-wrap">{{post.title}}</div>

			<div class="item item-text-wrap">
			<img src="img/{{post.img}}" ng-show="post.img" class="post-img"/>
			<div ng-bind-html="post.content"></div></div>
		</div>
		<button class="button button-block button-balanced" ng-click="openMp3()">Play Podcast</button>

		<button class="button button-block button-positive" ng-show="post.pdfLink" ng-click="openPDF()">Open PDF</button>
	</ion-content>
</ion-view>