<ion-view view-title="{{post.title}}">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-text-wrap">
				{{post.content}}
			</div>
		</div>
		<button class="button button-block button-balanced" ng-click="openPDF()">Play podcast</button>

		<button class="button button-block button-positive" ng-click="openPDF()">Open PDF</button>
	</ion-content>
</ion-view>