/* Empty. Add your own CSS if you like */
img.post-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-height: 250px;
    max-width: 100%;
}

.section-heading{
	margin: 20px 0px 5px 0px;
	font-weight: bold;
}

blockquote {
	margin-top: 20px;
}